In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time

# Q1:

In [33]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos#Top_videos')

In [37]:
Rank=[]
Video_Name=[]
Artist=[]
Viewer=[]
date=[]

try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('No information')
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Video_Name.append(i.text)
except NoSuchElementException:
    Video_Name.append('No information')
try:
    art=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in art:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('No information')
    
try:
    view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in view:
        Viewer.append(i.text)
except NoSuchElementException:
    Viewer.append('No information')
    
try:
    dat=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in dat:
        date.append(i.text)
        
except NoSuchElementException:
    date.append ('No information')

In [38]:
len(Rank),len(Video_Name),len(Artist),len(Viewer),len(date)

(30, 30, 30, 30, 30)

In [41]:
import pandas as pd
df=pd.DataFrame({'Rank':Rank,'Video_Name':Video_Name,'Artist':Artist,'Viewer':Viewer,'date':date})
df

,Rank,Video_Name,Artist,Viewer,date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
20,21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
23,24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
24,25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
28,29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
29,30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

# Q5:

In [105]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [109]:
Three_dot_click=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()

In [110]:
charts_click=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [111]:
Hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [122]:

Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

snam=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')

for i in snam:
    Song_name.append(i.text)
    
Artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
for i in Artist:
    Artist_name.append(i.text)
    
last_week=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][1]/span')
for i in last_week:
    Last_week_rank.append(i.text)
    
Peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"][2]/span')
for i in Peak:
    Peak_rank.append(i.text)
    
Weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"][2]/span')
for i in Weeks:
    Weeks_on_board.append(i.text)

In [125]:
len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board)

(100, 400, 100, 100, 100)

In [126]:
driver.close()

# Q6:

In [134]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(2)

In [153]:
for _ in range(5):
    driver.execute_script('window.scrollBy(0,200)')
    
Rank=[]
Title=[]
Author=[]
Volume_Sales=[]
Publisher=[]
Genre=[]
    
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('No information')
try:
    title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('No information')
    
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.appenda('No information')
try:
    Sales=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in Sales:
        Volume_Sales.append(i.text)
        
except NoSuchElementException:
    Volume_Sales.appenda('No information')
    
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('No information')
    
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('No Information')

In [156]:
len(Rank),len(Title),len(Author),len(Volume_Sales),len(Publisher),len(Genre)

(100, 100, 100, 100, 100, 100)

In [158]:
import pandas as pd

df=pd.DataFrame({'Rank':Rank,'Title':Title,'Author':Author,'Volume_Sales':Volume_Sales,'Publisher':Publisher,'Genre':Genre})
df

,Rank,Title,Author,Volume_Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [159]:
driver.close()

# Q7:

In [160]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)

In [177]:
Name=[]
Date=[]
Stars=[]
Run_time=[]
Votes=[]
Genre=[]

try:
    name=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('No information')
    
try:
    date=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.appendappend('No information')
    
try:
    star=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in star:
        Stars.append(i.text)
        
except NoSuchElementException:
    Stars.append('No information')
    
try:
    Run=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in Run:
        Run_time.append(i.text)
        
except NoSuchElementException:
    Run_time.append('No information')
    
try:
    votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('No information')
    
try:
    genres=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genres:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('No information')

In [180]:
len(Name),len(Date),len(Stars),len(Run_time),len(Votes),len(Genre)

(100, 100, 100, 100, 100, 100)

In [181]:
df=pd.DataFrame({'Name':Name,'Date':Date,'Stars':Stars,'Run_time':Run_time,'Votes':Votes,'Genre':Genre})
df

,Name,Date,Stars,Run_time,Votes,Genre
0,Game of Thrones,(2011–2019),9.2,"4,189 min","2,225,443","Action, Adventure, Drama"
1,Stranger Things,(2016–2025),8.7,51 min,"1,292,576","Drama, Fantasy, Horror"
2,The Walking Dead,(2010–2022),8.1,44 min,"1,055,744","Drama, Horror, Thriller"
3,13 Reasons Why,(2017–2020),7.5,60 min,"309,994","Drama, Mystery, Thriller"
4,The 100,(2014–2020),7.6,43 min,"269,109","Drama, Mystery, Sci-Fi"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,42 min,"53,246",Drama
96,A Series of Unfortunate Events,(2017–2019),7.8,50 min,"65,340","Adventure, Comedy, Drama"
97,Criminal Minds,(2005– ),8.1,42 min,"213,070","Crime, Drama, Mystery"
98,Scream: The TV Series,(2015–2019),7,45 min,"44,364","Comedy, Crime, Drama"
99,The Haunting of Hill House,(2018),8.6,572 min,"277,673","Drama, Horror, Mystery"

In [182]:
driver.close()

# Q2:

In [192]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [193]:
Click_fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]')
Click_fixture.click()

In [200]:
Series=[]
Place=[]
Date=[]
Time=[]

ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in ser:
    Series.append(i.text)
    
pls=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in pls:
    Place.append(i.text)
date=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
for i in date:
    Date.append(i.text)
time=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
for i in time:
    Time.append(i.text)

In [203]:
len(Series),len(Place),len(Date),len(Time)

(9, 9, 9, 9)

In [204]:
df=pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium,","26 NOVEMBER, 2023",7:00 PM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu,","27 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu,","27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium,","28 NOVEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","29 NOVEMBER, 2023",1:30 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","1 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
7,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","3 DECEMBER, 2023",1:30 PM IST
8,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,","3 DECEMBER, 2023",7:00 PM IST

# Q8:

In [2]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)

In [4]:
view_dataset_click=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()

In [5]:
Dataset_URL=[]
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        Dataset_URL.append(i.get_attribute('href'))
    next_click=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_click.click()
    time.sleep(2)

In [7]:
len(Dataset_URL)

30

In [24]:
Datasset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Feature_type=[]
Year=[]

for url in Dataset_URL:
    driver.get(url)
    time.sleep(2)
    
    try:
        name=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        Datasset_name.append(name.text)
    except NoSuchElementException:
        Datasset_name.append('No information')
    try:
        d_type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        Data_type.append(d_type.text)
    except NoSuchElementException:
        Data_type.append('No information')
    try:
        task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('No information')
    try:
        attribute_type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[2]/p')
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('No infirmation')
    try:
        feature_type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Feature_type.append(feature_type.text)
    except NoSuchElementException:
        Feature_type.append('No information')
    try:
        year=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(year.text)
    except NoSuchElementException:
        Year.append('No information')

In [27]:
len(Datasset_name),len(Data_type),len(Task),len(Attribute_type),len(Feature_type),len(Year)

(30, 30, 30, 30, 30, 30)

In [30]:
import pandas as pd
df=pd.DataFrame({'Datasset_name':Datasset_name,'Data_type':Data_type,'Task':Task,'Attribute_type':Attribute_type,'Feature_type':Feature_type,'Year':Year})
df

,Datasset_name,Data_type,Task,Attribute_type,Feature_type,Year
0,Iris,Tabular,Classification,Biology,Real,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,Health and Medicine,"Categorical, Integer, Real",Donated on 6/30/1988
2,Adult,Multivariate,Classification,Social Science,"Categorical, Integer",Donated on 4/30/1996
3,Wine,Tabular,Classification,Physics and Chemistry,"Integer, Real",Donated on 6/30/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Health and Medicine,Real,Donated on 10/31/1995
5,Diabetes,"Multivariate, Time-Series",Classification,Health and Medicine,"Categorical, Integer",No information
6,Dry Bean Dataset,Multivariate,Classification,Biology,"Integer, Real",Donated on 9/13/2020
7,Car Evaluation,Multivariate,Classification,Other,Categorical,Donated on 5/31/1997
8,Wine Quality,Multivariate,"Classification, Regression",Business,Real,Donated on 10/6/2009
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Biology,Real,Donated on 10/5/2019
10,Mushroom,Multivariate,Classification,Biology,Categorical,Donated on 4/26/1987
11,Bank Marketing,Multivariate,Classification,Business,"Categorical, Integer",Donated on 2/13/2012
12,Abalone,Tabular,"Classification, Regression",Biology,"Categorical, Integer, Real",Donated on 11/30/1995
13,Census Income,Multivariate,Classification,Social Science,"Categorical, Integer",Donated on 4/30/1996
14,Statlog (German Credit Data),Multivariate,Classification,Social Science,"Categorical, Integer",Donated on 11/16/1994
15,Breast Cancer,Multivariate,Classification,Health and Medicine,Categorical,Donated on 7/10/1988
16,Student Performance,Multivariate,"Classification, Regression",Social Science,Integer,Donated on 11/26/2014
17,Automobile,Multivariate,Regression,Other,"Categorical, Integer, Real",Donated on 5/18/1987
18,Auto MPG,Multivariate,Regression,Other,"Real, Categorical, Integer",Donated on 7/6/1993
19,Breast Cancer Wisconsin (Original),Multivariate,Classification,Health and Medicine,Integer,Donated on 7/14/1992
20,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering",Business,"Integer, Real",Donated on 11/5/2015
21,Predict students' dropout and academic success,Tabular,Classification,Other,-,Donated on 12/12/2021
22,Spambase,Multivariate,Classification,Computer Science,"Integer, Real",Donated on 6/30/1999
23,Glass Identification,Multivariate,Classification,Physics and Chemistry,Real,Donated on 8/31/1987
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,Health and Medicine,"Categorical, Real",Donated on 12/31/1986
25,Credit Approval,Multivariate,Classification,Business,"Categorical, Integer, Real",No information
26,Optical Recognition of Handwritten Digits,Multivariate,Classification,Computer Science,Integer,Donated on 6/30/1998
27,Zoo,Multivariate,Classification,Biology,"Categorical, Integer",Donated on 5/14/1990
28,Online Retail II,"Multivariate, Sequential, Time-Series, Text","Classification, Regression, Clustering",Business,"Integer, Real",Donated on 9/20/2019
29,default of credit card clients,Multivariate,Classification,Business,"Integer, Real",Donated on 1/25/2016

In [31]:
driver.close()

# Q4:

In [12]:
driver=webdriver.Chrome()
driver.get('https://github.com/explore')
time.sleep(2)

In [13]:
Trending_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/div[1]/nav/div/a[3]')
Trending_click.click()

In [26]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]

try:
    repository_title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in repository_title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('No information')
    
try:
    repository_description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in repository_description:
        Repository_description.append(i.text)
except NoSuchElementException:
    print ('No information')
    
try:
    contributors_count=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for i in contributors_count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('No  information')

In [28]:
len(Repository_title),len(Repository_description),len(Contributors_count)

(25, 21, 25)

In [29]:
driver.close()